<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>
<body>
    <p>Hola!</p>
    <p>Se ha solicitado un cambio de contraseña en tu cuenta, para proseguir haz click en el siguiente link:</p>
    <a href="{{ reset_link }}">{{ reset_link }}</a>
    <p>Si no lo haz solicitado por favor ignora este correo.</p>
    <p>Los mejores deseos,<br>Expense-Manager</p><br>Leo V.</p>
</body>
</html>
